@section Scripts {
    <script>
        $(document).ready(function() {
            $("#botonloadcoches").click(function() {
                $("#containercoches").load("/Coches/_CochesPartial");
            });
            $("#botonbuscarcoche").click(function() {
                var id = $("#cajaidcoche").val();
                console.log(id);
                var request = "/Coches/_CochesPost?idcoche=" + id;
                $("#detallescoche").load(request);
            });
        });
    </script>
}

<h1>Index de AJAX COCHES</h1>

<label>Id coche a buscar</label>
<input type="text" id="cajaidcoche" class="form-control" />
<button id="botonbuscarcoche" class="btn btn-danger">
    Buscar coche
</button>
<div id="detallescoche" style="background-color: lightgoldenrodyellow"></div>
<button id="botonloadcoches" class="btn btn-warning">
    Load Coches Ajax
</button>
<div id="containercoches" style="background-color: lightgreen"></div>